* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --darkcolor: #1F2A3D;
    --contrast: #C94255;
    --lightcolor: #E7EEE2;
    --accentlight: #8494A8;
    --accentdark: #758696;
}

html {
    font-size: 22px;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 1.5rem;
    height: 100vh;
}

.box {
    height: 100vh;
    width: 100vw;
    border: 3px solid black;
    padding: 50px;
    display: flex;
    justify-content: center;
}

#menu{
    background-color: var(--darkcolor);
}

#menu ul{
    list-style: none;
    display: flex;
    flex-flow: column;
}

#menu ul li a{
    display: block;
    color: var(--lightcolor);
    text-decoration: none;
}

#menu ul li a:hover{
    color: var(--contrast);
}

#tutorial{
    background-color: var(--lightcolor);
}

#tutorialText{
    height: 300px;
    border: 3px solid black;
    margin-top: 500px;
}



button {
    width: 100px;
    height: 30px;
}
