* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 22px;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 1.5rem;
    height: 100vh;
}

h1 {
    margin: 40px 0;
}

a {
    color: black;
}

.felder {
    height: 100vh;
    width: 100vw;
    border: 3px solid black;
    padding: 50px;
    display: flex;
    justify-content: center;
}

#eins {
    background-color: deepskyblue;
}

#zwei {
    background-color: springgreen;
}

#drei {
    background-color: darkturquoise;
}

input, button {
    padding: 5px;
    font-size: 1rem;
}

input {
    margin: 20px 20px 20px 0;
}

button {
    background-color: darkblue;
    color: white;
    border: none;
}

#zurueck {
    text-align: center;
    margin-top: 20px;
    cursor: pointer;
}
